

.header {
  height: 5rem;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 9rem;
}

.links a {
  text-decoration: none;
  color: white;
  margin: 0 1.1rem;
}

.links a {
  position: relative;
}
a::after {
  content : '';
  background-color: orange;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: .3s;
}

a:hover::after {
  width: 100%;
}